<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.usedcar.dev.domain.dto"/>
        <package name="com.usedcar.dev.domain.dto.request"/>
        <package name="com.usedcar.dev.domain.dto.response"/>
    </typeAliases>
    <mappers>
<!--        <mapper resource="mybatis/mapper/memberMapper.xml"/>-->
    </mappers>
</configuration>